name: build

on:
    push:
        branches: [main]
        paths:
            - "sandboxes/**"
            - Makefile
    workflow_dispatch:

permissions:
    contents: write

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Package sandboxes
              run: make sandboxes
            - name: Attach packages to the "latest" release
              uses: softprops/action-gh-release@v2
              with:
                  name: latest
                  tag_name: latest
                  files: build/*.tar.gz
